@import "tailwindcss";

/*  primary: #00916e
    secondary: #feefe5
    accent: #ffcf00
 */

 .recipe-container {
    background-color: rgb(252, 249, 245);
    border-color: rgb(248, 238, 224);
    border-style: solid;
    border-width: 1px;
 }
